<h1>Greetings, <%= @wizard.first_name %></h1>
<% if @wizard.admin %>
    <h4>Retreat Admin</h4>
<% end %>

<!-- Add Edit Wizard/Delete Wizard Routes/Forms
<% if current_wizard %>
    <h4>link_to </h4>
<% end %>>
-->

