<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
      <h1>About the Weekend</h1>
      <h5 class="w3-padding-32">The Wizard Retreat Weekend is a magic-filled, all-inclusive retreat celebrating the Harry Potter fandom.</h5>

      <p class="w3-text-grey">We are not a “convention” (although it’s fine if you 
        describe us to the muggles that way), we are a wizard’s retreat for members 
        of the Harry Potter fandom. Our weekend is scheduled to include large & small 
        group courses centered around your interests. All attendees will receive a personalized 
        schedule and “house” so you can get to know one another before the retreat. <br><br>

        Our retreat celebrates the community of fandom, making real connections, and the use of the 
        Oxford comma. We strive to get to know everyone on a personal level, so attendance at the 
        retreat will be limited to approximately 75 people. <br><br>

        We are inclusive. All races, ethnicities, ages, sexualities, and genders are welcome here!
    </p>
  </div>
</div>

